.DS_Store
*~
.*~
xcuserdata
xuserdata
profile
build/

black
blur
fractal
hack
kbd2midi
lines
midi
nb-logo
plasma
plasma1
plasma2
quilt
random-dots
simple-animation
simple-example
words
udp-flaschen-taschen.o
life

